* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  header, footer { 
    flex: none; 
  }
  
  main {
    display: flex;
    flex: 1 0 auto;
  }
  main .categories {
    display: flex;
    flex-direction: column;
    flex-basis: 256px;
}

main  nav > a {
    text-decoration: none;
    font-family: Dosis;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background-color: #44b;
    color: white;
}

main nav a:hover {
    box-shadow: 0 2px 5px -2px black;
    color: blueviolet;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #255;
  padding: 18px;
  font-size: dosis;
  width: auto;
}
footer section {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  width: 200px;
  
}
footer section .last {
  margin-right: 0;
}
footer section > h2 {
  color: white;
  border-bottom: solid white 3px;
  padding-bottom: .3rem;
  margin-bottom: 12px;
  font-size: 14px;
  letter-spacing: 0.3rem;
}
footer section a {
  font-size: 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
footer section a:hover {
  border-bottom: solid white 1px;
  margin-bottom: 11px;

}